.logged-in-panel-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.logout-button-wrapper{
    display: inline-block; /* Ensures the wrapper behaves like a button */
    padding-bottom: 10px;
  }

.logout-text-wrapper{
    transform: scale(1.15); 
}